#myNotes{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
    background-color: lawngreen;
    width: 390px;
    height: 110px;
    margin-top: 50px;
}
#list{
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 25px;
    background-color: white;
    width: 20rem;
    height: 25rem;
    overflow-y: scroll;
    overflow-x: scroll;
}
  
li {
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}

li:hover{
    background-color:whitesmoke;
    cursor: pointer;
    
}
